services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: multidb-backend
    ports:
      - "4000:3000"
    depends_on:
      - mysql
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=1234
      - DB_NAME=multidb
    restart: always

  mysql:
    image: mysql:8
    container_name: multidb-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: multidb
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
