# Archivos de compilación de .NET
bin/
obj/

# Configuración de IDEs
.vs/
.vscode/
.idea/
*.user
*.suo

# Archivos de entorno y configuración local
.env
.appsettings.json
appsettings.json
appsettings.Development.json

# Logs
*.log
logs/